@use '../../styles/variables' as vars
    
.category-settings

    &__options
        display: flex
        flex-direction: column

    &__item
        display: flex
        justify-content: space-between
        align-items: center
        padding: 1rem
        padding-block: 1rem
        border: 1px solid #c5c5c5
        border-width: 1px 0
        width: 100%

    h2
        text-align: center
        padding-bottom: 1rem
        font-family: vars.$font-family-body
        font-weight: 400

    &__name
        text-transform: uppercase
        font-weight: 600
        font-family: vars.$font-family-heading
        @include vars.themify(vars.$themes) 
            color: vars.themed("text");

    &__toggle
        position: relative
        width: 50px
        height: 24px

        input
            opacity: 0
            width: 0
            height: 0

            &:checked + .category-settings__slider
                background-color: vars.$color-brand
            
                &::before
                    transform: translateX(20px)
    
    &__slider
        position: absolute
        top: 0
        left: 0
        right: 0
        bottom: 0
        border-radius: 30px
        background-color: #ccc
        transition: 0.3s

        &::before
           content: ""
           position: absolute
           height: 22px
           width: 22px
           left: 7px
           bottom: 1px
           background-color: white
           border-radius: 50%
           transition: 0.3s 
