@use '../../styles/variables' as vars
    
.articles-list
    padding-block: 1rem
    border: 1px solid #c5c5c5
    border-width: 1px 0
    // height: 1.5rem
    transition: height 0.5s ease
    overflow: hidden

    @include vars.themify(vars.$themes)
        color: vars.themed("text");

    @include vars.themify(vars.$themes)
        background: vars.themed("bg");

    &:last-of-type
        border-bottom-width: 1px

    &__summary
        list-style: none
        text-transform: uppercase
        display: flex
        align-items: center
        justify-content: space-between
        padding-left: 1rem

    &__section-header
        display: flex
        align-items: center
        gap: 0.5rem

    &__logo
        width: 18px
        height: 26px

    &__icon
        transition: transform 0.3s ease
        transform: rotate(0deg)

    &[open] &__icon
        transform: rotate(90deg)