@use "../styles/variables" as vars
    
.settings-page
    display: flex
    flex-direction: column
    justify-content: space-between
    min-height: 50vh

    h1
        text-align: center
        color: vars.$color-brand

