@use 'variables' as vars
    
.splash
    display: flex
    flex-direction: column
    justify-content: center
    align-items: center
    height: 100vh
    overflow: hidden

    @include vars.themify(vars.$themes) 
        background-color: vars.themed("bg");
        color: vars.themed("text");

    &__logo
        width: 150px
        height: 150px
        margin-bottom: 20px
    
    &__title 
        font-family: vars.$font_family-heading
        opacity: 0.9
        letter-spacing: 1px
