@use '../../styles/variables' as vars


.app-container
    @include vars.themify(vars.$themes) 
        background: vars.themed("bg");

.footer-nav
    position: fixed
    bottom: 0
    left: 0
    right: 0
    box-shadow: 0 -2px 5px rgba(0, 0, 0, 0.5)
    
    @include vars.themify(vars.$themes) 
        background: vars.themed("bg");

.bottom-nav
    display: flex
    justify-content: space-around
    align-items: center
    height: 60px

    &__nav-content
        display: flex
        justify-content: space-around
        align-items: center
        width: 100%

    &__a
        display: flex
        flex-direction: column

        svg
            width: 24px
            height: 24px
        
        &--active
            color: vars.$color-brand

            svg
                transform: scale(1.2)

                path
                    stroke: vars.$color-brand